.experience-container {
    border-radius: 15px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 854px;
    padding: 20px;
    margin-bottom: 20px;
}

.experience-column-left {
    min-width: 200px;
    max-width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-column-left img {
    width: 90px;
    height: 90px;
    padding-top: 40px;
}

.experience-column-right {
    flex-grow: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.role-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .experience-container {
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }

    .experience-column-left {
        min-width: 100%;
        max-width: 100%;
        padding-bottom: 10px;
    }

    .experience-column-left img {
        width: 60px;
        height: 60px;
        padding-top: 0;
    }

    .experience-column-right {
        padding-left: 0;
        text-align: center;
    }

    .role-header {
        flex-direction: column;
        align-items: center;
    }

}