.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    padding: 20px;
    width: 800px;
    max-width: 800;
    margin: 0 auto; 
    background-color: transparent; 
    align-items: left;
}

.layout-sidebyside {
    display: flex;
    align-items: left;
    gap: 30px;
    text-decoration: none;
}
  
.layout-sidebyside a {
    cursor: pointer;
    text-decoration: none;
}
  
.layout-sidebyside img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}
  
.layout-sidebyside img:hover {
    opacity: 0.8;
}

.location-info {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
}

.location-content {
    display: flex;
    align-items: left;
    gap: 10px;
}

.location-info img {
    width: 24px;
    height: 24px;
}

.location-info p {
    margin: 0;
    font-size: 16px;
    color: var(--darkFont, #323232);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.location-info:hover {
    opacity: 0.8;
}

.image-section {
    flex-basis: 300px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.profile-image {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 300px;
    border: 20px solid var(--white, #ffffff);
    position: relative;
    z-index: 1;
}

#rectangle {
    width: 200px;
    height: 250px;
    background: var(--gray);
    position: absolute;
    top: 80px;
    left: 110px;
    z-index: 0;
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -10px);
    }
}

.scroll-arrow {
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 1;

    color: var(--darkFont, #323232);
    z-index: 10;
    animation: bounce 1s infinite;
    transition: opacity 0.3s ease;
    pointer-events: none
}

.scroll-arrow.hidden {
    opacity: 0;
}

/* .scroll-arrow:hover {
    opacity: 0.8;
} */

@media (max-width: 768px) {
    .profile-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .content-box {
        width: 90%;
        text-align: center;
    }

    .image-section {
        width: 100%;
        justify-content: center;
    }

    .profile-image {
        max-width: 150px;
        max-height: 200px;
        border: 13px solid var(--white, #ffffff);
    }

    #rectangle {
        width: 150px;
        height: 200px;
        top: 1px; 
        left: 120px
    }

    .scroll-arrow {
        max-width: 50px;
        max-height: 50px;
    }

}