.skills-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 850px;
    text-align: center;
    justify-items: center;
}

.skills-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 50px 100px;
    justify-items: center;
    align-items: center;
}

.skills-row.last-row {
    display: grid;
    grid-template-columns: 50px 130px 50px;
    justify-content: center;
}

.skills-mobile {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    justify-content: center;
    gap: 20px;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-logo {
    width: 45px;
    height: 45px;
    object-fit: contain;
}
