.work-container {
    border-radius: 15px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 854px;
    padding: 20px;
    margin-bottom: 20px;
}

.work-column-right {
    display: flex;
    width: 454px;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}


.work-column-left {
    width: 400px;
    display: flex;
    justify-content: center; /* Center carousel within the column */
    align-items: center;
}

.work-column-left 
.carousel {
    max-width: 380px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}


.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    flex-shrink: 0;
    max-height: 600px;
}

.carousel-image {
    width: 100%;
    /* height: 200px; */
    max-height: 600px;
    object-fit: contain;
}


/* DOTS */

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 4px; /* Adjust spacing between dots */
    z-index: 2;
}

.carousel-dots div {
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-dots div.p-2 {
    background-color: white;
    transform: scale(1.2);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}